@import 'tailwindcss';

@theme {
  /* Yellow */
  --color-yellow-50: #fff8e2;
  --color-yellow-100: #fcf2cf;
  --color-yellow-200: #fcecb5;
  --color-yellow-300: #fadf87;
  --color-yellow-400: #ffd857;
  --color-yellow-500: #ffcd29;
  --color-yellow-600: #feb519;
  --color-yellow-700: #e89e00;
  --color-yellow-800: #b87e00;
  --color-yellow-900: #9f6c00;

  /* Gray */
  --color-gray-0: #f8f8f8;
  --color-gray-50: #f4f4f4;
  --color-gray-100: #e2e2e2;
  --color-gray-200: #d7d7d7;
  --color-gray-300: #c1c1c1;
  --color-gray-400: #aaa6a6;
  --color-gray-500: #888686;
  --color-gray-600: #696969;
  --color-gray-700: #4e4e4e;
  --color-gray-800: #353535;
  --color-gray-900: #252525;

  /* Blue */
  --color-blue-50: #edf4ff;
  --color-blue-100: #e2ebfb;
  --color-blue-200: #d2e2fc;
  --color-blue-300: #accafb;
  --color-blue-400: #7ba8f1;
  --color-blue-500: #4e90f9;
  --color-blue-600: #2375f6;
  --color-blue-700: #0a58d3;
  --color-blue-800: #023c98;
  --color-blue-900: #022d71;

  /* Purple */
  --color-purple-50: #f5f1ff;
  --color-purple-100: #e7e2f4;
  --color-purple-200: #ded5f6;
  --color-purple-300: #c6b5f6;
  --color-purple-400: #a78af7;
  --color-purple-500: #895ffc;
  --color-purple-600: #7240fe;
  --color-purple-700: #5227c9;
  --color-purple-800: #380dad;
  --color-purple-900: #280e6e;

  /* Green */
  --color-green-50: #eafdf3;
  --color-green-100: #d7f4e5;
  --color-green-200: #b5ebce;
  --color-green-300: #90deb4;
  --color-green-400: #4ccf89;
  --color-green-500: #0db45b;
  --color-green-600: #009d49;
  --color-green-700: #00803c;
  --color-green-800: #015d2c;
  --color-green-900: #004420;

  /* Red */
  --color-red-50: #ffedef;
  --color-red-100: #fee1e5;
  --color-red-200: #ffbcc4;
  --color-red-300: #fe8d9b;
  --color-red-400: #fc6174;
  --color-red-500: #f04459;
  --color-red-600: #e62f45;
  --color-red-700: #d21f35;
  --color-red-800: #aa182a;
  --color-red-900: #8d1624;

  /* Orange */
  --color-orange-50: #fff0ea;
  --color-orange-100: #fde1d5;
  --color-orange-200: #fdcbb7;
  --color-orange-300: #fbac8d;
  --color-orange-400: #ff8e61;
  --color-orange-500: #fa6c34;
  --color-orange-600: #f55719;
  --color-orange-700: #d8470e;
  --color-orange-800: #b54012;
  --color-orange-900: #98360f;
}

@layer utilities {
  /* Display */
  .typo-display1 {
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -0.4px;
  }
  .typo-display2 {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.4px;
  }
  .typo-display3 {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.4px;
  }

  /* Title */
  .typo-title1 {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.4px;
  }
  .typo-title2 {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.3px;
  }
  .typo-title3 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.2px;
  }

  /* Headline */
  .typo-headline1 {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.2px;
  }
  .typo-headline2 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.2px;
  }
  .typo-headline3 {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.1px;
  }

  /* Body */
  .typo-body1 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }
  .typo-body1-reading {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.1px;
  }
  .typo-body2 {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.1px;
  }
  .typo-body2-reading {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.1px;
  }

  /* Label */
  .typo-label1 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.1px;
  }
  .typo-label1-reading {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.1px;
  }
  .typo-label2 {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
  }

  /* Caption */
  .typo-caption1 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.1px;
  }
  .typo-caption2 {
    font-size: 11px;
    line-height: 14px;
    letter-spacing: -0.1px;
  }
  .typo-caption3 {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.1px;
  }
}